@page "/todo"

<h3>Todo</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>@todo.Title</li>
    }
</ul>

<input placeholder="something todo" />
<button @onclick="AddToDo">Add todo</button>

@code {
    private List<TodoItem> todos = new();
    private string? newToDo;
    private void AddToDo()
    {
        //Todo: Add the todo
    }
}
